extends layout

block content
  nav#header.navbar.navbar-fluid.navbar-inverse
    .container-fluid
      .navbar-header
        a.navbar-brand(href='/') WebRTC

  .container-fluid
    h1= title
    p Welcome to #{title}

    button.btn.btn-primary.btn-block#btn_call
      span.glyphicon.glyphicon-earphone
      span &nbsp;Call

    .row#video_lists
      .col-md-3
        video#video_self(autoplay)
