extends layout

block content
  nav#header.navbar.navbar-fluid.navbar-inverse
    .container-fluid
      .navbar-header
        a.navbar-brand(href='/') WebRTC

  .container-fluid
    h1= title
    p Welcome to #{title}

    .row
      .col-md-3
        button.btn.btn-default.btn-block#btn_call ビデオ通話のリクエストを送信
        button.btn.btn-default.btn-block#btn_answer ビデオ通話リクエストを許可
        button.btn.btn-default.btn-block#btn_hungup ビデオ通話を切る
      .col-md-6
        video#video_other(autoplay)
      .col-md-3
        video#video_self(autoplay)
